<Br>
<Br>
<Br>
<Br>
<!-- Main Movie Listings -->
<div class="container section" id="afterHeader">
	<div class="row">
	 <div class="col-sm-12">
			<div class="tabs movies">
				<ul>
				 <li><a href="#mon">Mon</a></li>
				 <li><a href="#tue">Tue</a></li>
				 <li><a href="#wed">Wed</a></li>
				 <li><a href="#thu">Thu</a></li>
				 <li><a href="#fri">Fri</a></li>
				 <li><a href="#sat">Sat</a></li>
				 <li><a href="#sun">Sun</a></li>
			 </ul>
		   <div id="mon">
        <% @movies.each do |movie| %>
				<div class="row movie-tabs">
					<div class="col-md-2 col-sm-3">
					<%= image_tag movie.movie_image %>
					</div>
						<div class="col-md-10 col-sm-9">
							<h3 class="no-underline"><%= movie.title%></h3>
							<p><%= movie.description%></p>
								<div class="row">
									<div class="col-md-8 col-sm-9">
										<hr class="space-10" />
										<span class="viewing-times">
										<i class="material-icons">access_time</i>
												  Viewing times
										</span>
                    <% movie.showtimes.each do |st| %>
                    <%= st.showtime.strftime("%I:%M%p") %>
      <% end%>
                    <p><%= link_to "Purchase A Ticket", controller: "orders", action: "new", params: {movie: movie}%></p>  
									</div>
									  <div class="col-md-4 col-sm-3 running-time">
											<hr class="space-10" />
											<%=movie.length%><span>Mins</span>
										</div>
									</div>
								</div>
						 </div>
						   <%end %>
					