<br><br>


          <h2 class="section-title">Portfolio</h2>

          <div class="thumbnails recentworks row">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" href="https://demo-back-yards-coffee.herokuapp.com/">
<span class="img">
<%= image_tag "Snowdogs.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">Back Of The Yards Coffee</span>
              </a>
              <span class="details"><a href="https://demo-back-yards-coffee.herokuapp.com/">BackEnd</a> | <a href="https://demo-back-yards-coffee.herokuapp.com/">Rails</a></span>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" href="https://qa-san-jose.herokuapp.com">
<span class="img">
<%= image_tag "Party.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">San Jose Obrero Mission</span>
              </a>
              <span class="details"><a href="https://qa-san-jose.herokuapp.com">FrontEnd/BackEnd</a> | <a href="https://qa-san-jose.herokuapp.com">HTML, CSS, JavaScript, & Rails</a></span>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" a href="https://github.com/Stillman23">
<span class="img">
<%= image_tag "Avengers.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">Cat or Ninja Puzzle</span>
              </a>
              <span class="details">FrontEnd | HTML, CSS, & JavaScript</span>

            </div>
						  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" href="https://demo-back-yards-coffee.herokuapp.com/">
<span class="img">
 <%= image_tag "Oceans.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">Back Of The Yards Coffee</span>
              </a>
              <span class="details"><a href="https://demo-back-yards-coffee.herokuapp.com/">BackEnd</a> | <a href="https://demo-back-yards-coffee.herokuapp.com/">Rails</a></span>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" href="https://qa-san-jose.herokuapp.com">
<span class="img">
	<%= image_tag "Super.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">San Jose Obrero Mission</span>
              </a>
              <span class="details"><a href="https://qa-san-jose.herokuapp.com">FrontEnd/BackEnd</a> | <a href="https://qa-san-jose.herokuapp.com">HTML, CSS, JavaScript, & Rails</a></span>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a class="thumbnail" a href="https://github.com/Stillman23">
<span class="img">
<%= image_tag "Payback.jpg"%>
  <span class="cover"><span class="more">See details &rarr;</span></span>
</span>
                <span class="title">Cat or Ninja Puzzle</span>
              </a>
              <span class="details">FrontEnd | HTML, CSS, & JavaScript</span>

            </div>

          </div>






</header>
			<div class="content-block" id="portfolio">
				<div class="container">
						<section class="block-body">
            <h1>Coming Soon to Theatres</h1>
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									 <%= image_tag "Snowdogs.jpg"%>
									<strong>SNOW DOGS</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Party.jpg"%>
									<strong>LIFE OF THE PARTY</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Avengers.jpg"%>
									<strong>AVENGERS</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									 <%= image_tag "Oceans.jpg"%>
									<strong>OCEANS 8</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Payback.jpg"%>
									<strong>PAY BACK</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Super.jpg"%>
									<strong>SUPER</strong><br/>
								</div>
							</div>
						</div>
					
				
				</div>
			</div><!-- #portfolio -->