</header>
			<div class="content-block" id="portfolio">
				<div class="container">
						<section class="block-body">
            <h1>Coming Soon to Theatres</h1>
						<div class="row">
							<div class="col-md-4">
								<div class="testimonial">
									 <%= image_tag "Snowdogs.jpg"%>
									<strong>SNOW DOGS</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Party.jpg"%>
									<strong>LIFE OF THE PARTY</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Avengers.jpg"%>
									<strong>AVENGERS</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									 <%= image_tag "Oceans.jpg"%>
									<strong>OCEANS 8</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Payback.jpg"%>
									<strong>PAY BACK</strong><br/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimonial">
									<%= image_tag "Super.jpg"%>
									<strong>SUPER</strong><br/>
								</div>
							</div>
						</div>
					
				
				</div>
			</div><!-- #portfolio -->