<br>
<br>
<br>
<br>
<h2 class="section-title">Coming Soon</h2>
<div class="thumbnails recentworks row">
<!-- Movie 1 -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <span class="img">
     <%= image_tag "Snowdogs.jpg"%>
    </span>
    <span class="title">SNOW DOGS</span>
  </div>
<!-- Movie 2 -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
	 <span class="img">
   <%= image_tag "Party.jpg"%>
	 </span>
   <span class="title">LIFE OF THE PARTY</span>
  </div>
<!-- Movie 3 -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
   <span class="img">
    <%= image_tag "Avengers.jpg"%>
   </span>
   <span class="title">AVENGERS</span>
  </div>
<!-- Movie 4 -->
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  	<span class="img">
 			<%= image_tag "Oceans.jpg"%>
   </span>
   <span class="title">OCEANS 8</span>
  </div>
<!-- Movie 5 -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  	<span class="img">
			<%= image_tag "Super.jpg"%>
		</span>
    <span class="title">SUPER</span>
  </div>
<!-- Movie 6 -->
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  	<span class="img">
			<%= image_tag "Payback.jpg"%>
    </span>
		<span class="title">PAY BACK</span>
  </div>
	<br>
	<br>
	<br>
</div>




